In [31]:
import pandas as pd
import numpy as np

df = {'Bank' :['A', '', '' , 'B', ''], 
      'Amt' :['1313', '', '843', '935', '']}

df = pd.DataFrame(df)

df

  Bank   Amt
0    A  1313
1
2        843
3    B   935
4

### Side Note: Replacing NA with blanks

In [24]:
  df = df.fillna('') #this will replace NA with blanks

Replace empty strings by empty strings and forward filling missing values. of the 1st col, i.e. Bank

In [32]:
df['Bank'] = df['Bank'].replace('', np.nan).ffill() 
df

  Bank   Amt
0    A  1313
1    A
2    A   843
3    B   935
4    B

In [33]:
df.groupby('Bank', as_index=False).agg({'Amt':' '.join}) #only works for strings

  Bank        Amt
0    A  1313  843
1    B       935