## Sample Dataframe

In [1]:
import pandas as pd 

data = {'Bank':['A', '', 'B', '', ''], 
        'Address':['Townhall Road', '#01-1001', 'MapleTree', 'Castle 10', 'Pathway 31'],
        'Distance':['10', '', '99', '', '']} 

df = pd.DataFrame(data)

In [2]:
df

  Bank        Address Distance
0    A  Townhall Road       10
1            #01-1001
2    B      MapleTree       99
3           Castle 10
4          Pathway 31

## Extracts out strings that are present only

In [4]:
address = ['MapleTree', 'Town', 'JPY', 'USD', 'AUD']

#function to loop through the column:folder name and compare against currencylist 
def f(row):
  for elem in address:
      if elem in row['Address']:
           return elem

df['Extracted'] = df.apply(f, axis=1) #axis=0 along the rows (namely, index in pandas - DOWN), and axis=1 along the columns - RIGHT.
df

  Bank        Address Distance  Extracted
0    A  Townhall Road       10       Town
1            #01-1001                None
2    B      MapleTree       99  MapleTree
3           Castle 10                None
4          Pathway 31                None

## Extract out only exact match substrings

In [5]:
import re
import pandas as pd

data = {'Name':['Tom', 'nick', 'krish', 'jack', 'meg', 'sarah'], 'Currency':['RANDOM_SGD_2017', 'TEST_EUR_1381', 'FORFUN GBP', 'NAs', 'More fun in EUROPE', 'And MUSDA thing']}
currency = ['SGD', 'GBP', 'USD', 'EUR']
df = pd.DataFrame(data)
df

    Name            Currency
0    Tom     RANDOM_SGD_2017
1   nick       TEST_EUR_1381
2  krish          FORFUN GBP
3   jack                 NAs
4    meg  More fun in EUROPE
5  sarah     And MUSDA thing

Note that the (?<![^\W_]) / (?![^\W_]) are unambiguous word boundaries that also consider _ (underscores) as "non-word" chars, so EUR in _EUR_ is considered a whole word.

In Python, the regex can be built using r'(?<![^\W_])({})(?![^\W_])'.format('|'.join(map(re.escape, currency))), with re.escape, just in case you may have $ or other special chars in the currency names, like "CA#".

In [7]:
rx = r'(?<![^\W_])({})(?![^\W_])'.format('|'.join(map(re.escape, currency)))
df['Currency_updated'] = df['Currency'].str.extract(rx, expand=False)
df

    Name            Currency Currency_updated
0    Tom     RANDOM_SGD_2017              SGD
1   nick       TEST_EUR_1381              EUR
2  krish          FORFUN GBP              GBP
3   jack                 NAs              NaN
4    meg  More fun in EUROPE              NaN
5  sarah     And MUSDA thing              NaN

Notice that EUR from EUROPE is not extracted, hence this is an exact match